.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f6f6f6;
}

.paper {
  padding: 20px;
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.task-input,
.search-input {
  margin-bottom: 10px;
}

.add-button {
  margin-bottom: 20px;
}

.list {
  margin-top: 20px;
}

.completed-task {
  text-decoration: line-through;
  color: #888;
}

.filter {
  margin: 10px 0;
}

.list-item {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .paper {
    padding: 15px;
  }

  .heading {
    font-size: 1.5rem;
  }

  .task-input,
  .search-input {
    font-size: 0.9rem;
  }

  .list-item {
    font-size: 0.9rem;
  }
}